
:root{
    --orange: #dd8800;
    --orangeop: #B26B00;
    --green: #00FF00;
    --blue: #23374d;
    --blue-x: #0085FF;
    --light-blue: #85c3FF;
    --white: #eee;
    --white-x: #dcdcdc;
    --black: rgb(0, 0, 0);
    --maxwidth: 1100px;
} 