:root {
	--main-color: #114358;
	--complementary-color: #F2AA1F;
	--secondary-color: #F1ECE7;
    --obscure-color: rgba(51,51,51,.9);
}

.intro {
    padding: 40px 40px 0 40px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.intro > h1, .intro > h2 {
    margin: auto;
    max-width: 1000px;
    color: var(--main-color);
    font-size: 50px;
    font-weight: 300;
}

.intro > h1 > b, .intro > h2 > b {
    font-weight: 1000;
}

.intro > h4 {
    color: var(--obscure-color);   
}

.intro > img {
    max-width: 400px;
    margin-top: 40px;
}

@media (max-width: 850px) {
    .intro > h1, .intro > h2 {
        font-size: 24px;
    }
}